<header>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">VKBlind</a>
        </div>
        <div class="navbar-collapse collapse">
          <nav class="nav navbar-nav">
            <li><a href="/feed" accesskey="n">Новости</a></li>
            <li><a href="/groups" accesskey="g">Группы</a></li>
            <li><a href="/{{ user.username }}" accesskey="p">Профиль</a></li>
            {% for fav in favorites %}
                <li><a href="{{ fav.url }}">{{ fav.name }}</a></li>
            {% endfor %}
            <li><a href="/logout" accesskey="`">Выйти</a></li>
          </nav>
        </div>
      </div>
    </div>
</header>