{% extends 'base.html' %}


{% block title %}
    Справочная информация
{% endblock %}
{% block content %}
    <h2>О проекте</h2>
    <p>
        VKBlind — это адаптированный для использования незрячими интерфейс для
        социальной сети ВКонтакте.
    </p>
    <p>
        Сайт спроектирован для наиболее удобного использования программами
        Text-To-Speach, все тексты также преобразовываются для упрощения
        проговаривания.
    </p>

    <h2>Помощь</h2>
    <p>
        На странице <strong><a href="{% url 'settings' %}"></a>Настройки</strong>
        можно настроить цвет фона и текста и размер шрифта</p>
    <p>
        <strong>Горячие клавиши</strong> — все ссылки в основном меню привязаны к клавишам клавиатуры,
        мы можете пользоваться этим для ускорения навигации.
    </p>
    <p>
        Если вы хотите запретить доступ приложению к вашему аккаунту, нажмите
        на ссылку <a href="{% url 'logout' %}">выйти</a> здесь
        или на странице <a href="{% url 'settings' %}">настроек</a>.
    </p>

    <h2>Контакты</h2>
    <p>
        Пишите <a href="mailto:monitoringe@gmail.com">на почту</a> или<br />
        звоните по номеру: <span class="phone">+7 (917) 921-29-95</span>
    </p>
{% endblock content %}
