{% load json %}
{% load human %}

<li role="article">
    {% if titles %}

        <h2>Запись {{ forloop.counter }}: {{ item.date|human_datetime }}</h2>
    {% else %}

        {% if item.owner.name %}<h2>{{ item.owner.name }}</h2>{% endif %}
        <small>{{ item.date|human_datetime }}</small>

    {% endif %}
        {{ item.text|readable|urlize|linebreaks }}
    {% if debug_mode %}
        <pre class="text" style="font-size:12px">
            {{ item|format_json }}
        </pre>
    {% endif %}
</li>
