{% load json %}
{% load human %}

<li role="article">
    {% if titles %}
        <h2>{{ item.owner.name }}</h2>
        <small>{{ item.date|human_datetime }}</small>
    {% else %}
        <h2>Запись {{ forloop.counter }}: {{ item.date|human_datetime }}</h2>
    {% endif %}
    <div class="text" role="article">
        {{ item.text|urlize|linebreaks }}
    </div>
    {% if debug_mode %}
        <pre class="text" style="font-size:12px">
            {{ item|format_json }}
        </pre>
    {% endif %}
</li>
