{% extends 'base.html' %}

{% load human %}

{% block pagetitle %} — Список групп{% endblock pagetitle %}
{% block title %}Список групп{% endblock title %}

{% block content %}
    <form method="post" action="{% url 'search_groups' %}">
        {% csrf_token %}
        <input name="query" type="text" />
        <input type="submit" />
    </form>
    <ul role="directory">
    {% for group in groups %}
        <li style="list-style: none">
            <a href="{% url 'view_group' group.id %}">{{ group.name|readable }}</a>
        </li>
    {% endfor %}
    <ul>
{% endblock content %}
