{% extends 'base.html' %}

{% load human %}

{% block content %}
<form action="{% url 'search' %}" method="get" class="search">
    <input type="text" name="c[q]" placeholder="Что будем искать?" />
    <input type="hidden" name="c[section]" value="auto" />
    <input type="submit" value="Найти" title="Найти" />
</form>

<ul role="groups">
{% if groups %}
    <h3>Группы</h3>
{% endif %}
{% for group in groups %}
    <li style="list-style: none">
        <a href="{% url 'view_group' group.id %}">{{ group.name|safe }}</a>
    </li>
{% endfor %}
</ul>

<ul role="users">
{% if users %}
    <h3>Люди</h3>
{% endif %}
{% for user in users %}
    <li style="list-style: none">
        <a href="{% url 'profile' user.id %}">
            {{ user.last_name|safe }} {{ user.first_name|safe }}
        </a>
    </li>
{% endfor %}
</ul>

{% if vk_url %}
    <div>Не нашли то, что нужно? Давайте, поищем <a href="{{ vk_url }}" target="_blank">в контакте</a>.</div>
{% endif %}

{% endblock content %}
