/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import url("elements.css");

html {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    height: 100%;
    background: #000;
    font-size: 2.6em;
    line-height: 1.4;
    color: #fff;
}

html.white {
    color: #000;
    background: #fff;
}
html.S {
    font-size: 1em;
}
html.M {
    font-size: 2em;
}
html.L {
    font-size: 2.6em;
}

body {
	margin: 3.2em 0 0 0;
	overflow-x: hidden;
}

a,
a:visited {
    outline-offset: -0.2em;
    outline-width: 0.1em;
    color: #fff;
    padding: 0.2em 0.3em 0.2em 0.3em;

    display: inline-block;
}

html.white a,
html.white a:visited {
	color: #000;
}

a:hover,
a:active,
a:focus {
    color: #000;
    background: #fff;
}

a:hover,
a:active,
a:focus {
    outline-style: dashed;
    text-decoration: none;
}

a:focus {
	outline-color: #000;
}

html.white a:focus {
	outline-color: #fff;
}

html.white a:hover,
html.white a:active,
html.white a:focus {
    color: #fff;
    background: #000;
}

::-moz-selection,
::selection {
    outline: 0.1em solid #fff;
}

html.white ::-moz-selection,
html.white ::selection {
    outline-color: #000;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid #fff;
    margin: 1em 0;
    padding: 0;
}

html.white hr {
    border-color: #000;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}


.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.search {
    margin: 0px;
    padding: 0px;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request: h5bp.com/r
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.search {
    padding-top: 20px;
}

.search > input[type=text] {
    width: 80%;
}

.search > input[type=submit] {
    width: 18%;
    float: right;
}

/***
CUSTOM CSS HERE
*/

.auth-block {
    padding: 1em;
    text-align: center;
}

li h2 {
    margin-bottom: 20px;
}



/* profile */

.profile-table,
.settings-table{
    width: 100%;
    border-spacing: 10px;
    border-collapse: separate;
    margin-bottom: 2em;
}
.settings-table__cell,
.profile-table__cell{
    text-align: left;
    vertical-align: top;
    padding: 10px;
}
.settings-table__label,
.profile-table__label{
    width:10em;
}

.profile-table__caption{
    text-align: left;
    padding: 0 0 1em 0;
}
.profile-table ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* header */


  header {
    background: black;
    z-index: 1000;
    position: fixed;
    top: 0;

    margin-right: 0.1em;
  }
  html.white header {
    background: white;
  }
  .vkb-navbar-fixed {
    width: 100%;
  }
  .navigation {
    display: table;
    table-layout: fixed;

    width: 100%;
    text-align: justify;

    border-collapse: collapse;
  }
  .navigation li {
    margin: 0;

    list-style: none;

    display: table-cell;
    position: relative;

    text-align: center;

    border: 0.1em white solid;
  }
  html.white .navigation li {
    border-color: black;
  }
  .navigation li>a {
    padding: 0;

    line-height: 1em;
    display: inline-block;
    height: 3em;
    width: 100%;

    text-decoration: none;
  }
  .navigation li>a>span {
    display: inline-block;
    margin-top: 1em;
    text-transform: uppercase;
  }



  button,
  select {
      font-size: 1em;
      padding: 0 0.5em;
  }

  .footer-links {
      margin: 1em 1em 0;
      border-top: 1px solid #ddd;
      padding-top: 1em;
      text-align: center;
      font-size: 0.7em;
  }
